* {
  margin: 0;
  padding: 0;
}


.open {
  display: flex !important;
}
.container{

   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
   
}
.header {
   background-color: #323435;
  
}

.content__title{
   display: flex;
   align-items: center;
   justify-content: space-between;
   min-height: 100px;
   color: rgb(166, 201, 223);
   padding: 0 40px;
}

.logo{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #aa1414;
  width: 90px;
  height: 90px;
}

.nav {
  display: flex;
  width: 700px;
  padding: 0 40px;
}

.nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.burger {
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;
}

.burger span {
  height: 2px;
  width: 80%;
  transform: scale(1);
  background-color: #ecd3d3;
}

.burger::before, .burger::after{
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #ecd3d3;
  transition: all 0.3s ease 0s;
}

.burger::before {top: 0;}
.burger::after {bottom: 0;}

 .burger.active span {transform: scale(0);} 
 /* щоб середня полоска пропала  */

.burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

.submenu {
  display: flex;
  flex-direction: column;
  max-width: 120px;
  position: absolute;
  z-index: 5;             /* глибина елементу по оси z*/
  transform-origin: 0 0;  /* точка вокруя якої буде відбуватись трансформація */
  transform: rotateX(-90deg);/* поворот елементу вокруг точки Х  */
  transition: .3s linear;
  visibility: hidden;
  opacity: 0;
}

.submenu li {
  position: relative;
}

.submenu .submenu {
  position: absolute;
  top: 0;
  left: 100%;
  transition: .3s linear;   /* linear обозначает равномерную скорость на протяжении всего перехода.*/
}

.top__menu li:hover>.submenu {
  visibility: visible;  /* видимость или не видимость  елементу*/
  opacity: 1;    /* прозрачность елементу*/
  transform: rotateX(0deg);
}

.submenu a {
  text-decoration: none;
  color: black;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: rgba(157, 157, 157, 0.5);
  border: 1px solid #fffffff4;
  font-size: 16px;
  display: block;
} 

.main {
  background-color: #0dc6fff4;
  height: 100vh;
  padding-top: 150px;

  text-align: center;
}



.but {
   font-size: 44px;
   padding-bottom: 20px;
}

.cont{
   display: flex;
   align-items: center;
   justify-content: center;
}

.input {
  
   width: 300px;
   height: 50px;
   border-radius: 20px;
   border: none;
   padding-left: 15px;
   margin-right: 10px;
}


.button{
   position: relative;
   cursor: pointer;
}

.ripple{
   width: 50px;
   height: 50px;
   
}

.ripple div {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   border: 6px solid rgb(8, 15, 204);
   animation: ripple 1s cubic-bezier(.03, .54, .6, .63) infinite;
   border-radius: 50%;
   
}


.ripple div:nth-child(2 ){
   animation-delay: 0.5s;
}

@keyframes ripple{
   0%{
      width: 0;
      height: 0; 
      opacity: 0;
   }
   5%{
      width: 0;
      height: 0; 
      opacity: 0;
   }5.1%{
      width: 0;
      height: 0; 
      opacity: 1;
   }100%{
      width: 30px;
      height: 30px; 
      opacity: 0;
   }
}





 @media(max-width: 950px) {

  .burger{
    display: flex;
  }

    .nav {
    display: none;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;bottom: 0;right: 0;left: 0;
    z-index: 50;
    overflow: auto;
    padding: 50px 4px;
    background-color: rgba(0, 0, 0, 0.8);
    animation: burgerAnimation 0.4s;
  }

  .nav ul {
    flex-direction: column;
    row-gap: 30px;
  } 
}  

.submenu.active {
  gap: 0;
  
}
.submenu a{
  background-color: rgba(157, 157, 157, 1);
  
}
.submenu.submenu {
  gap: 0;
}

@keyframes burgerAnimation  {
  from{opacity: 0;}
  to{opacity: 1;}
}

